/* charset=utf8; */

body { width:1220px; margin:0 auto; }
p, form, ul, li { margin:0 }

.notice { width:800px; margin:20px auto; line-height:1.8em; }
.onlines, .groups { border:1px solid #CCC; padding:10px 20px; margin-bottom:20px; }
.onlines span, .groups span { display:inline-block; height:40px; line-height:40px; margin:0 10px; font-weight:bold; color:green; cursor:pointer; }
.left { float:left; width:250px; margin:40px 80px; }
.main { float:left; width:602px; margin:40px 100px; border:1px solid #CCC; }


.header { width:100%; height:40px; line-height:40px; border-bottom:1px solid #CCC; overflow:hidden; }
.logo { float:left; width:150px; padding:0 50px; font-weight:bold; height:40px; }
.user_info { float:left; width:250px; padding:0 50px; text-align:right; height:40px; }
#user_sign input { line-height:40px; height:40px; }

.list_tab { width:100%; height:40px; line-height:40px; border-bottom:1px solid #CCC; font-size:14px; overflow:hidden; }
.list_tab ul { margin:0; padding:0; }
.list_tab li { float:left; width:49%; text-align:center; cursor:pointer; }
.list_tab li:first-child { border-right:1px solid #DDD; }
.list_tab li.on { font-weight:bold; background-color:#CCC; font-color:#FFF; }

.user, .group { float:left; width:140px; border-right:1px solid #CCC; height:400px; }
.user ul, .group ul { list-style:none; padding:0; overflow-y:scroll; max-height:342px; overflow-x:hidden; }
.user li, .group li { list-style:none; height:36px; line-height:36px; border-bottom:1px solid #DDD; padding:0 10px; cursor:pointer; white-space:nowrap; }
.user li.on, .group li.on { background-color:#cdf; font-weight:bold; }
.user li.online, .group li.online { color:blue; }
.group { display:none; }


.chat { float:left; width:460px; }

.messages { width:100%; height:360px; overflow-y:scroll; }
.messages div { float:left; width: 300px; border:1px solid #DDD; padding:5px 20px; margin:5px; }
.messages div.self { float:right; }
.messages div p:first-child { font-size:9px; }
.messages .u { float:left; color:#AAA; }
.messages .t { float:right; color:#CCC; }
.messages div p:last-child { font-size:14px; clear:both; line-height:24px; }


.publish { border-top:1px solid #CCC; }
.publish input { width:340px; height:40px; float:left; }
.publish button { width:80px; height:30px; margin:5px 20px; float:left; }

